.footerBackground {
    background-color: #6C6666;
    min-height: 88px;
}

.footerCopyright {
    font-style: normal !important;
    font-size: 14px !important;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 37px !important;
    padding-left: 100px !important;
}

@media (max-width: 450px) {
    .footerCopyright {
        padding: 15px !important;
        font-size: 11.5px !important;
        font-weight: bold !important;
    }
}

.footerIcon {
    color: #FFFFFF;
    font-weight: 900;
    padding: 32px 0px 32px 0px;
}

.aquaText {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 26px !important;
    text-align: center !important;
    letter-spacing: 0.03em !important;
    color: #6A6161 !important;
    padding-bottom: 20px !important;
}

.contactHead {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 35px !important;
    line-height: 44px !important;
    color: #4B2121;
    padding: 15px;
}

.contact {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 41px !important;
    color: #4B2121;
    padding: 10px;
}

.contactText {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 33px !important;
    color: #4B2121;
    padding: 8px;
}

.contactBody {
    background-color: #DED6D6;
    min-height: 742px;
}

.servicesText {
    line-height: 23px !important;
    letter-spacing: 0.02rem !important;
    color: #FFFFFF;
}

.servicesBody {
    background-color: #CDBBBB;
    padding: 43px;
}

.servicesImage {
    padding: 10px;
}

.cardPageText {
    font-style: normal;
font-weight: 400;
font-size: 24px !important;
color: #6C6666;
padding-top: 39px;
font-family: Mulish !important;
}

.cardPagePrice {
    font-style: normal;
font-weight: 400;
font-size: 26px !important;
line-height: 38px;
color: #6C1515;
padding-top: 39px;
}

.cardPageConcept {
    font-style: normal !important;
font-weight: 700 !important;
font-size: 18px !important;
text-align: center !important;
padding: 18px;
color: #6A6161 !important;
}

.css-9mgopn-MuiDivider-root {
    background-color: #6C6666;
    height: 3px;
}

@media (max-width: 450px) {
    .footerIcon {
        padding: 20px 5px 0 20px;
    }

    .cardPageText {
        font-size: 14px !important;
        padding-left: 10px;
        font-weight: 600 !important;
    }

    .cardPagePrice {
        font-size: 16px !important;
    }

    .cardPageConcept {
        font-size: 15px !important;
    }
}
.bone{
    font-size: larger !important;
    color: rgb(241, 19, 19);
    font-weight: bolder !important;
    line-height: 1.4rem !important;
    padding: 16px !important;
}